**KOLLEKSİYONLAR - KÜMELER**

https://www.degisimkitap.com/UserFiles/Image/files/Temel_Python_Degisim%281%29.pdf

Koleksiyonlar, bir değişkenin birden fazla değer taşıması gerektiğinde
kullanılan veri türlerdir. Python programlama dilinde başlıca dört
koleksiyon türü vardır:
1. List (liste), öğeleri sıralı, indeksli ve değiştirilebilir bir
koleksiyondur. Aynı öğeden birden fazla içermeye izin verir.
2. Tuple (demet), öğeleri sıralı, indeksli ancak değiştirilemeyen bir
koleksiyondur. Aynı öğeden birden fazla içermeye izin verir.
3. Set (küme), öğeleri sıralı olmayan, indeksli olmayan ve
değiştirilemeyen bir koleksiyondur. Aynı öğeden birden fazla
içermeye izin vermez.
4. Dictionary (sözlük), öğeleri sıralı5
, anahtar indeksli ve
değiştirilebilir bir koleksiyondur. Aynı öğeden (anahtardan) birden
fazla içermeye izin vermez.

**KÜMELER**

Kümeler, öğeleri sıralı olmayan, indekslenmeyen ve değiştirilemeyen
koleksiyon türüdür. Bu tür aynı öğeden birden fazla içermeye izin
vermez. Yazımları küme parantezi {} ile olur.

In [46]:
# set
birKüme = {"elma", "armut", "kiraz"}
print(birKüme)

{'elma', 'kiraz', 'armut'}

**Küme Öğelerine Erişim**

Küme öğelerine indeks numaraları ile erişilmez. Erişilmeye çalışılırsa
aşağıdaki gibi bir hata alınır.

In [47]:
# set
birKüme = {"elma", "armut", "kiraz"}
print(birKüme[0])

TypeError: 'set' object is not subscriptable

**Öğeleri Döndürme**

Bir kümedeki öğeleri döndürmek için for döngüsü ve in anahtar
kelimesi kullanılabilir. Sizin konsoldan aldığınız sıralama bizimki ile aynı
olmayabilir. Çünkü küme koleksiyonları en başta söylediğimiz gibi sıralı
özellikte değildir. Her yeni döndürmede öğeleri farklı sıralamada
önünüze getirebilir.

In [50]:
isimler = {'Ali', 'Zeynep', 'Mahir'}
for i in isimler:
    print(i)

Zeynep
Ali
Mahir

**Öğe Sorgulama**

Bir kümede bir öğenin var olup olmadığı, if ve in anahtar kelimeleri ile
sorgulanabilir.

In [51]:
isimler = {'Ali', 'Zeynep', 'Mahir'}
if "Mahir" in isimler:
    print("Mahir kümede mevcuttur.")

Mahir kümede mevcuttur.

In [52]:
#Sorgulama sadece in anahtar kelimesi ile de yapılabilir
isimler = {'Ali', 'Zeynep', 'Mahir'}
print("Mahir" in isimler)

True

**Öğe Ekleme**

Küme öğeleri değiştirilemez ancak kümelere yeni öğeler eklenebilir.
Bunun için add() metodu kullanılır. Birden fazla ekleme yapılacaksa
update() metodu daha kullanışlıdır. Aşağıdaki örnek kodlarda sizin
print() ile alacağınız sıralamalar yukarıda açıkladığımız gerekçe
sebebiyle farklı olabilir.

In [53]:
isimler = {'Ali', 'Zeynep', 'Mahir'}
isimler.add('Amine')
print(isimler)

{'Amine', 'Zeynep', 'Ali', 'Mahir'}

In [54]:
isimler = {'Ali', 'Zeynep', 'Mahir'}
isimler.update(['Amine', 'Furkan', 'Elif'])
print(isimler)

{'Mahir', 'Furkan', 'Elif', 'Amine', 'Zeynep', 'Ali'}

**Öğe Silme**

Kümeden öğe silmenin farklı yöntemleri vardır. Örneğin, remove()
metodu, değeri bilinen öğeyi kümeden silmek için kullanılabilir. Yanlış
değer girilirse hata verir. discard() metodunun kullanımı da aynıdır.
Ancak bu metot aranan değer bulunamadığında hata vermez. Eğer tüm
öğeler kümeden silinmek isteniyorsa clear() metodu kullanılmalıdır.
Bunların kullanımına ilişkin örnek kodlar aşağıda verilmiştir. del anahtar
kelimesi ise küme değişkenini ortadan kaldırır. Küme değişkeni ortadan kaldırıldığında aşağıdaki gibi NameError hatası verir.

In [57]:
isimler = {'Ali', 'Zeynep', 'Mahir'}
isimler.remove('Ali')
print(isimler)
isimler.discard('Zeynep')
print(isimler)
isimler.clear()
print(isimler)
print('***************')
del isimler
print(isimler)

{'Zeynep', 'Mahir'}
{'Mahir'}
set()
***************

NameError: name 'isimler' is not defined

**Öğe Sayısı**

Bir kümenin sahip olduğu öğelerin toplam sayısı len() fonksiyonuyla
elde edilebilir

In [58]:
isimler = {'Ali', 'Zeynep', 'Mahir'}
print(len(isimler))

3

**İki Kümeyi Birleştirme**

İki kümeyi birleştirmek için union() veya update() metotları
kullanılabilir. union() metodu birleşmeden doğan büyük kümeyi yeni
bir değişken olarak geri döndürür. Yani diğer iki küçük kümenin orjinal
halleri korunmuş olur. Ancak update() metodunda kümelerden biri
diğerinin üzerine eklenir. Üzerine eklemleme yapılan kümenin orjinal hali
kaybedilmiş olur. Her iki metot ile yapılan birleştirme işleminde mükerrer
öğeler dışarıda bırakılır. Yani bir kümedeki tüm öğelerin birbirinden farklı
olması sağlanır.

In [59]:
isimler1 = {'Ali', 'Zeynep', 'Mahir'}
isimler2 = {'Mehmet', 'Ali'}
isimler3 = isimler1.union(isimler2)
print(isimler3)
print(isimler1)
isimler1.update(isimler2)
print(isimler1)

{'Mahir', 'Zeynep', 'Ali', 'Mehmet'}
{'Zeynep', 'Ali', 'Mahir'}
{'Mahir', 'Zeynep', 'Ali', 'Mehmet'}

**Küme İnşası**

Küme inşası programatik olarak set() fonksiyonu ile yapılmaktadır.
Koleksiyon türlerinden küme türünde muhafaza edilmek istenen
yinelenebilir (iterable) bir veri, set() fonksiyonuna parametre olarak
gönderilirse kolaylıkla bir küme elde edilebilir. String verisi de
yinelenebilir bir veridir. Bu fonksiyona parametre olarak verildiğinde
karakterler tek tek kümenin öğesi haline gelir. Mükerrer öğeler set()
fonksiyonu ile küme inşası sırasında otomatik olarak dışarıda bırakılır.

In [60]:
küme1 = set(("elma", "armut", "elma"))
print(küme1)
küme2= set(range(10))
print(küme2)
küme3= set("DEDE")
print(küme3)

{'elma', 'armut'}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{'D', 'E'}

**Küme Metodları**

**copy()**

copy() metodu verilen bir kümenin bağımsız kopyasını oluşturur.

In [61]:
küme1 = {"elma", "armut"}
küme2 = küme1.copy()
küme1.remove("elma")
print(küme1)
print(küme2)

{'armut'}
{'elma', 'armut'}

**difference()**

A kümesinin B kümesinden farkını verir.

In [62]:
A = {"elma", "armut"}
B = {"elma", "dut"}
C = A.difference(B)
print(C)
print(A)

{'armut'}
{'elma', 'armut'}

In [63]:
#Hem A hem B kümesinde bulunan öğeler, A kümesinden çıkarılmak istenirse difference_update() metodu kullanılabilir.
A = {"elma", "armut"}
B = {"elma", "dut"}
A.difference_update(B)
print(A)

{'armut'}

**intersection()**

A ve B kümesinin kesişimini verir.

In [64]:
A = {"elma", "armut"}
B = {"elma", "dut"}
C = A.intersection(B)
print(C)
print(A)

{'elma'}
{'elma', 'armut'}

In [65]:
# A kümesi B kümesi ile olan farklılıklarından arındırılmak istenirse intersection_update() metodu kullanılabilir.

A = {"elma", "armut"}
B = {"elma", "dut"}
A.intersection_update(B)
print(A)

{'elma'}

**symmetric_difference()**

A kümesinin B kümesinden farklı olan öğeleri ile B kümesinin A
kümesinden farklı olan öğelerini bir araya toplar ve geri döndürür.

In [66]:
A = {"elma", "armut"}
B = {"elma", "dut"}
C = A.symmetric_difference(B)
print(C)
print(A)

{'armut', 'dut'}
{'elma', 'armut'}

In [67]:
# Eğer A kümesi, yukarıda elde edilen farklar kümesine dönüştürülmek istenirse symmetric_difference_update() metodu kullanılabilir.

A = {"elma", "armut"}
B = {"elma", "dut"}
A.symmetric_difference_update(B)
print(A)

{'armut', 'dut'}

**isdisjoint()**

A ve B kümelerinin ayrık kümeler olup olmadığını sorgular. A ve B
kümeleri hiç ortak öğe bulundurmuyorsa True değeri geri döndürür.

In [68]:
A = {"elma", "armut"}
B = {"kiraz", "dut"}
ayrıkmı = A.isdisjoint(B)
print(ayrıkmı)

True

**issubset()**

A kümesinin B kümesinin alt kümesi olup olmadığını sorgular. Eğer A
kümesinin tüm öğeleri B kümesinde mevcut ise True değerini döndürür.

In [69]:
A = {"elma", "armut"}
B = {"elma", "armut", "kiraz", "dut"}
altkümemi= A.issubset(B)
print(altkümemi)

True

**issuperset()**

A kümesi B kümesinin kapsayan kümesi olup olmadığını sorgular. Eğer
B kümesinin tüm öğeleri A kümesinde mevcut ise True değerini
döndürür.

In [70]:
A = {"elma", "armut"}
B = {"elma"}
altkümemi= A.issuperset(B)
print(altkümemi)

True